

    
<div class="col-xs-6 col-sm-6 col-md-6">
    <address>
        <strong>@ViewBag.ten</strong>
        <br>
        @ViewBag.diachi
        <br>
        <abbr title="Phone">Số điện thoại:@ViewBag.sdt </abbr>
    </address>
</div>
<div class="col-xs-6 col-sm-6 col-md-6 text-right">
    <p>
        <em>Ngày đặt:@ViewBag.tg </em>
    </p>
    <!-- <p>
        <em>Receipt #: 34522677W</em>
    </p> -->
</div>
